<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{user?.role == 'client' ? 'Dashboard' : 'Admin Dashboard'}}</mat-toolbar>
    <hr>
    <mat-nav-list>
      <div *ngIf="user.role == 'client'">
        <a mat-list-item (click)="changeView('package_list')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="package-list"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Packages List</p>
        </a>
        <a mat-list-item (click)="changeView('locations')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="locations"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Deposits Map</p>
        </a>
      </div>
      <div *ngIf="user.role == 'admin'">
        <a mat-list-item (click)="changeView('employees')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="employee"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Employees</p>
        </a>
        <a mat-list-item (click)="changeView('locations')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="locations"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Deposits Map</p>
        </a>
        <a mat-list-item (click)="changeView('vehicles')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="vehicle"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Vehicles</p>
        </a>
        <a mat-list-item (click)="changeView('packages')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="package-list"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Packages</p>
        </a>
        <a mat-list-item (click)="changeView('add_package')">
          <mat-icon>
            <app-icons style="font-size: 15px;" icon="add-package"></app-icons>
          </mat-icon>
          <p style="margin-top: 20px; margin-left: 10px;">Add Package</p>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div ngbDropdown>
        <button class="btn btn-transparent" id="gfg" style="font-size: 15px;text-decoration: none; margin-left:79vw; color: white;"
                ngbDropdownToggle>{{user?.email}}</button>
        <div ngbDropdownMenu="gfg">
          <button (click)="changeView('profile')" ngbDropdownItem>My Profile</button>
          <button (click)="logout()" ngbDropdownItem>Log Out</button>
        </div>
      </div>
    </mat-toolbar>
    <app-profile *ngIf="view == 'profile'" [user]="user"></app-profile>
    <app-deposit-map *ngIf="view == 'locations'" [user]="user"></app-deposit-map>
    <app-employees-list *ngIf="view == 'employees' && user.role == 'admin'" [user]="user"></app-employees-list>
    <app-vehicles *ngIf="view == 'vehicles' && user.role == 'admin'" [user]="user"></app-vehicles>
    <app-packages *ngIf="view == 'add_package' || view == 'packages'"></app-packages>
  </mat-sidenav-content>
</mat-sidenav-container>

